body {
    background-color: #000000;
    color: #c0c0c0;
    font-family: 'Courier New', 'Consolas', monospace;
    font-size: 15px;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}

pre {
    margin: 0;
    font-family: inherit;
    white-space: pre;
}

a {
    color: #b46eff;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px dashed #b46eff;
}

a:hover {
    background-color: #b46eff;
    color: #000000;
    cursor: help;
}


.cursor {
    color: #b46eff;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Header Colors */
.key {
    color: #b46eff;
    font-weight: bold;
}

.val {
    color: #ffffff;
}

.box-border {
    color: #555;
}

/* Markdown Content Styling */
h1,
h2,
h3 {
    color: #ffffff;
    border-bottom: 1px dashed #555;
    padding-bottom: 5px;
    margin-top: 30px;
}

code {
    color: #b46eff;
    font-family: inherit;
}

pre code {
    border: 1px solid #333;
    padding: 15px;
    display: block;
    color: #ccc;
    margin: 10px 0;
}

blockquote {
    border-left: 2px solid #b46eff;
    padding-left: 15px;
    color: #888;
    font-style: italic;
}

ul {
    list-style-type: square;
}

li {
    margin-bottom: 5px;
}