<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{TITLE}}</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <pre style="text-align: center;">

<span style="color: #555;">/*</span>
<span style="color: #555;">
* FILE            :      {{FILENAME}}
* AUTHOR          :      root
* DATE            :      {{DATE}}
*
</span>
<span style="color: #555;">*/</span>

<div class="content" style="text-align: left; display: inline-block; max-width: 800px; white-space: pre-wrap;">
<a href="../index.html">[..] Back to root</a>

{{CONTENT}}

<a href="../index.html">[..] Back to root</a>
</div>

</pre>
</body>

</html>