<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{TITLE}}</title>
    <link rel="stylesheet" href="../../style.css">
</head>

<body>
    <div id="terminal-wrapper"
        style="text-align: center; white-space: pre; font-family: 'Courier New', 'Consolas', monospace;">


        {{METADATA_BLOCK}}


        <div class="content" style="text-align: left; display: inline-block; max-width: 800px; white-space: normal;">
            <a href="../index.html">[..] Back to root</a>

            {{CONTENT}}

            <a href="../index.html">[..] Back to root</a>
        </div>

    </div>
</body>

</html>